html, body{
    margin: 0px;
    padding: 0px;
}
*{
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');

.main-1{
    height: 100vh;
}
.dark{
    background-color: black !important;
    color: white !important;
}
.ligth{
    background-color: white;
    color: black;
}
.portfolio-body{
    height: 100%;
    width: 100vw;
}
.left-content{
    padding: 170px 0px;
}
.logo-name{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-name>h2{
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.nav-list{
    list-style: none;
    padding: 0px;
    height: 300px;
}
.nav-list>li{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-home, .nav-about, .nav-projects, .nav-contact{
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-home>h6, .nav-about>h6, .nav-projects>h6, .nav-contact>h6{
    font-size: 20px;
}



/* right */
.right-content{
    height: 100%;
}
    /* Home(div 1) */
    .home{
        height: 100%;
        padding: 120px 0;
    }
    .profile{
        border-radius: 100px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
    }
    .profile>img{
        width: 300px;
        height: 300px;
        border-radius: 150px;
    }
    .text{
        margin-bottom: 60px;
    }
    .text>h4, .text>h1{
        display: flex;
        justify-content: center;
        text-align: center;
        margin-bottom: 20px;
    }
    .text>h4{
        font-family: 'Playfair Display', serif;
        font-size: 50px;
    }
    .text>h1{
        font-family: 'Playfair Display', serif;
        font-size: 70px;
        font-style: italic;
    }
    .resume{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .btn-resume{
        width: 200px;
        height: 50px;
        border: 2px solid grey !important;
    }
    .btn-resume>a{
        text-decoration: none;
        color: white;
        padding: 20px;
        border-radius: 5px;
        font-family: 'Playfair Display', serif;
        font-size: 15px;
    }
    .btn-resume>a:hover{
        color: gray;
    }


    /* About Us */
    .about-us{
        overflow: auto;
        width: 100%;
        height: 100%;
        padding: 120px 20px;
    }
    .details-text{
        width: 100%;
    }
    .details-text>h3{
        font-size: 30px;
        margin-bottom: 20px;
    }
    .details-text>p{
        font-size: 18px;
        margin-bottom: 80px;
    }
    .skill-heading{
        font-size: 30px;
        margin-bottom: 25px;
    }
    .color-1{
        border: 1px solid red;
        border-bottom: 10px solid red;
        border-radius: 5px;
        width: 80%;
        height: 220px;
        padding: 20px 20px 20px 40px;
        display: inline-block;
        justify-content: center;
        align-items: center;
    }
    .color-2{
        border: 1px solid green;
        border-bottom: 10px solid green;
        border-radius: 5px;
        width: 80%;
        height: 220px;
        padding: 20px 20px 20px 40px;
        display: inline-block;
        justify-content: center;
        align-items: center;
    }
    .color-3{
        border: 1px solid blue;
        border-bottom: 10px solid blue;
        border-radius: 5px;
        width: 80%;
        height: 220px;
        padding: 20px 20px 20px 40px;
        display: inline-block;
        justify-content: center;
        align-items: center;
    }
    .color-4{
        border: 1px solid yellow;
        border-bottom: 10px solid yellow;
        border-radius: 5px;
        width: 80%;
        height: 220px;
        padding: 20px 20px 20px 40px;
        display: inline-block;
        justify-content: center;
        align-items: center;
    }
    .color-5{
        margin-top: 30px;
        border: 1px solid violet;
        border-bottom: 10px solid violet;
        border-radius: 5px;
        width: 80%;
        height: 220px;
        padding: 20px 20px 20px 40px;
        display: inline-block;
        justify-content: center;
        align-items: center;
    }
    .color-6{
        margin-top: 30px;
        border: 1px solid orange;
        border-bottom: 10px solid orange;
        border-radius: 5px;
        width: 80%;
        height: 220px;
        padding: 20px 20px 20px 40px;
        display: inline-block;
        justify-content: center;
        align-items: center;
    }
    .color-7{
        margin-top: 30px;
        border: 1px solid purple;
        border-bottom: 10px solid purple;
        border-radius: 5px;
        width: 80%;
        height: 220px;
        padding: 20px 20px 20px 40px;
        display: inline-block;
        justify-content: center;
        align-items: center;
    }
    .color-8{
        margin-top: 30px;
        border: 1px solid orangered;
        border-bottom: 10px solid orangered;
        border-radius: 5px;
        width: 80%;
        height: 220px;
        padding: 20px 20px 20px 40px;
        display: inline-block;
        justify-content: center;
        align-items: center;
    }
    .color-1>h3, .color-2>h3, .color-3>h3, .color-4>h3, .color-5>h3, .color-6>h3, .color-7>h3, .color-8>h3{
        margin-top: 25px;
        font-size: 20px;
    }


    /* Projects */
    .projects{
        border: 2px solid black;
        padding: 100px 30px;
    }
    .projects>h1{
        font-size: 50px;
        margin-bottom: 30px;
    }
    .proj-dis>.row{
        width: 100%;
        height: 500px;
    }
    .proj-card{
        border: 2px solid yellow;
        width: 20%;
        background-color: rgba(141, 248, 248, 0.822);
        margin-right: 15px;
    }
    .image{
        width: 100%;
        height: 50%;
        padding: 20px 0px;
    }
    .image>img{
        width: 100%;
        height: 90%;
    }
    .text-content{
        height: 170px;
    }
    .text-content>h1{
        font-size: 23px;
        text-align: center;
        font-family: 'Playfair Display', serif;
        font-style: italic;
    }
    .text-content>p{
        padding: 10px;
        font-size: 15px;
        height: 80px;
    }
    .button{
        border: 1px solid gray;
        border-radius: 5px;
        width: 5vw;
        height: 4vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        position: relative;
        left: 50%;
        transform: translate(-50%);
    }
    .button>a{
        text-decoration: none;
        color: gray;
    }




/* Theme */
.theme-selector{
    position: absolute;
    right: 40px;
    top: 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}
.dropdown-menu>li{
    padding-left: 0px;
}
.dropdown-menu>li>p{
    margin: 5px 5px 8px 8px;
}
.colors{
    display: flex;
}
.red, .yellow, .blue, .green{
    width: 20px;
    height: 20px;
    border-radius: 20px;
}
.red{
    background-color: red;
    border: 1px solid black;
    margin-right: 10px;
    margin-left: 10px;
}
.yellow{
    background-color: yellow;
    border: 1px solid black;
    margin-right: 10px;
}
.blue{
    background-color: blue;
    border: 1px solid black;
    margin-right: 10px;
}
.green{
    background-color: green;
    border: 1px solid black;
    margin-right: 10px;
}
.background-theme{
    padding: 5px 10px 5px 10px;
}

.home,.about-us,.projects,.contact-us{
    height: 100%;
    width: 100%;
    display: none;
    transform: translateX(100%);
    transition: transform 0.6s ease;
}

.home{
    background-color: brown;
}

.about-us{
    background-color: chartreuse;
}

.projects{
    background-color: coral;
}
.contact-us{
    background-color: crimson;
}


.main-div{
    overflow-x: hidden;
}

.active-tab{
    border-bottom: 3px solid red;
    transform: scaleX(1);
    transition: transform 250ms ease-in-out;    
}
